

.article-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./curva-product.png');
    background-size: cover;
    min-height: 70vh;
}

.div-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem;
    gap: 5rem;
}