.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.container-logo {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
}

.logo {
  margin: 1rem;
  height: 4rem;
}

.showList {
  display: flex;
  flex-direction: column;
}

.lateral {
  background-color: linear-gradient;
  font-weight: 700;
  line-height: 1rem;
  color: #4cd3c2;
}

.titulo-lateral {
  color: #4cd3c2;
}

.perfil {
  margin-top: 2rem;
}

/* @media screen and (min-width: 992px) {
} */
