.navbar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  height: 200px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.showList {
    display: flex;
    flex-direction: column;
}